@import 'variables';
/* Main section */
.section {
  //border: 2px solid red;
  &-wrapin {
    //border: 1px solid magenta;
    width: 90%;
    height: 92vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  background-size: cover;
}

.section-content {
  border: 1px solid salmon;
  display: flex;
  @media (max-width: 992px) {
  }
  @media (max-width: 800px) {
  }
  @media (max-width: 600px) {
  }
  @media (max-width: 350px) {

  }
  &__text {
    width: 70%;
    color: #ffffff;
    border: 1px solid blue;
    h2 {
      text-shadow: 0 0 9px rgba(0, 0, 0, 0.56);
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 52px;
      max-width: 520px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      max-width: 480px;
      margin: 60px 0px 60px 0px;
    }
  }
  &__products {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
      display: block;
      width: 200px;
      height: 200px;
      border-radius: 3px;
      border: 1px solid $primary-color;
      background-color: $primary-color;
      opacity: 0.5;
      &:hover {
        box-shadow: 0 0 15px 3px rgba(255, 121, 0, 0.27);
        border-radius: 3px;
        border: 1px solid $primary-color;
        background-color: #000000;
        opacity: 0.5;
      }
    }
  }
}
.product-block {
  a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &__icon {

  }
  &__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    color: $white;
    opacity: 2;
  }
}

.s1 {
  background-image: url(../img/screen1-bg.png);
  background-position: right;
}
.s2 {
  background-image: url(../img/screen2-bg.png);
  background-position: right;
}
.s3 {
  background-image: url(../img/screen3-bg.jpg);
  background-position: right;
}
.s4 {
  background-image: url(../img/screen4-bg.png);
  background-position: right;
}
.maintext {
  margin-top: 10vh;
  h1 {
    max-width: 850px;
    text-shadow: 0 0 22px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 4.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0px;
    @media (max-width: 992px) {
      font-size: 3.8rem;
    }
    @media (max-width: 800px) {
      font-size: 3.4rem;
    }
    @media (max-width: 600px) {
      font-size: 2.6rem;
      line-height: 3.8rem;
    }
    @media (max-width: 350px) {
      font-size: 1.8rem;
      line-height: 2.6rem;
    }
  }
  p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    max-width: 630px;
    margin: 60px 0px 60px 0px;
    @media (max-width: 350px) {
      font-size: 1.2rem;
      line-height: 2.2rem;
      margin: 40px 0px 40px 0px;
    }
  }
}